@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(204, 224, 224, 0.781);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main_body {
    background-color: rgba(255, 255, 255, 0.822);
    height: fit-content;
    width: 250px;
    /* max-width: 40vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 50px;
    padding: 8px;
    margin: 24px 0;
}

img {
    width: 90%;
    /* height: 0%; */
    margin-top: 8px;
    border-style: none;
    border-radius: 25px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 32px 8px;
}

#first_p {
    font-size: 100%;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    margin-bottom: 16px;
}

#second_p {
    font-size: 90%;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    position: absolute;
    /* bottom: 0; */
    top: 95%;
    text-align: center;
}

.footer p {
    font-size: 80%;
    font-family: "Outfit", sans-serif;
    opacity: 0.6;
    font-weight: 600;
    /* margin: 16px o 16px 16px; */
}